.childOne{
	width: 75%;
	height: 65vh;
	background-color: #f4f4f4;
	box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
	border-radius: 15px;
	margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: scroll;
}




input{
	padding: 25px;
	text-align: left;
	height: 30px;
	border: none;
	background: transparent;
	font-size:	20px;
	font-weight: 500;
	width: 90%;
	border-bottom: 2px solid #8566aa;
	outline: none;
	margin-right: 20px;
}

.textFont{
	font-family: verdana;
	font-size: 20px;
	font-weight: 500;
    list-style-type: none;
}

.childTwo{
	width: 35%;
	height: 7vh;
	background-color: #f4f4f4;
	box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
	border-radius: 15px;
	margin: auto;
}